<div class="container mt-5">
  <h1 class="text-center">Bem-vindo</h1>
  <h2 class="text-center">Cadastre seus dados abaixo</h2>
  <br />

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <!-- DADOS PESSOAIS -->
    <fieldset class="border p-4 mb-4">
      <legend class="w-auto font-weight-bold">Dados Pessoais</legend>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="user.nome" required />
        </div>
        <div class="form-group col-md-6">
          <label for="email">E-mail:</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="user.email" required />
        </div>
      </div>
    </fieldset>

    <!-- DADOS DE LOGIN -->
    <fieldset class="border p-4 mb-4">
      <legend class="w-auto font-weight-bold">Dados de Login</legend>
      <div class="form-group">
        <label for="login">Login de usuário:</label>
        <input type="text" class="form-control" name="login" [(ngModel)]="user.login" required />
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="senha">Senha:</label>
          <input type="password" class="form-control" name="senha" [(ngModel)]="user.senha" required />
        </div>
        <div class="form-group col-md-6">
          <label for="confirmarSenha">Confirme a senha:</label>
          <input type="password" class="form-control" name="confirmarSenha" [(ngModel)]="user.confirmarSenha" required />
        </div>
      </div>
    </fieldset>

    <div class="form-row justify-content-center">
      <button type="submit" class="btn btn-primary mr-3" [disabled]="!form.valid">Enviar</button>
      <button type="reset" class="btn btn-secondary">Limpar</button>
      <button [routerLink]="['/login']" type="reset" class="btn btn-primary">Voltar</button>
    </div>
  </form>
</div>
