.active{
    background-color: #007bff;
}

.nav-link, .dropdown-item{
    color: white !important;
}

.nav-link:hover:not(.active), .dropdown-item:hover{
    background-color: #7952b3;
    color: white !important;
}

.logo {
    width: 7%;
}

.bg-imagem{
    height: 48vw;
    /* background-image: url(https://caes101.files.wordpress.com/2012/09/cao-gato.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-imagem p{
    text-shadow: 4px 4px 8px black;
    /* para manter a responsividade utilizamos o viewport*/
    font-size: 4vw;
}

.bg-imagem-doe{
    height: 48vw;
    /* background-image: url(https://www.diariodepernambuco.com.br/static/app/noticia_127983242361/2020/04/17/825933/20200417104610761816i.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-imagem-doe p{
    text-shadow: 4px 4px 8px black;
    font-size: 4vw;
}
.bg-imagem-doe h1{
    text-shadow: 4px 4px 8px black;
    font-size: 2vw;
}

.mt-70{
    margin-top: 70px;

}

#agenda th {
    font-size: 1.5vw;

}

#agenda td{
    height: 100px;
    width: 14.29%;
}

#agenda td.bg-info{
    color: white;
}

footer{
    height: 50px;
}